# MLB Pitching Data (1876-2022) <hr>

Name: **Joshua M. Bito-on** 
<br>
Course: **CPE2A**

Import **pandas**,**numpy** and **matplotlib** library

In [170]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Overview of the Dataset

Load the "**baseball_pitcher.csv**"<br>

In [171]:
df = pd.read_csv(r"C:\Users\romme\Desktop\MATHEDA Bito-on\ENDTERM PROJECT\raw\baseball_pitcher.csv",
                 delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player name         2575 non-null   object
 1   Position            2575 non-null   object
 2   Win                 2575 non-null   int64
 3   Loss                2575 non-null   int64
 4   Earned run Average  2575 non-null   float64
 5   Games played        2575 non-null   int64
 6   Games Started       2575 non-null   int64
 7   Complete Game       2575 non-null   int64
 8   Shutout             2575 non-null   int64
 9   Save                2575 non-null   int64
 10  Save Opportunity    2575 non-null   object
 11  Innings pitched     2575 non-null   float64
 12  hit                 2575 non-null   int64
 13  run                 2575 non-null   int64
 14  earned run          2575 non-null   int64
 15  home run            2575 non-null   int64
 16   Hit Batsmen        2575 non-null   int64
 17  base on balls       2565 non-null   float64
 18  Strikeouts          2575 non-null   int64
 19  WHIP                2575 non-null   float64
 20  AVG                 2575 non-null   object
dtypes: float64(4), int64(13), object(4)
memory usage: 422.6+ KB

Display an **overview** of the pitching dataset

In [172]:
df.head()

,Player name,Position,Win,Loss,Earned run Average,Games played,Games Started,Complete Game,Shutout,Save,...,Innings pitched,hit,run,earned run,home run,Hit Batsmen,base on balls,Strikeouts,WHIP,AVG
0,N Ryan,P,324,292,3.19,807,773,222,61,3,...,5386.0,3923,2178,1911,321,158,2795.0,5714,1.25,0.204
1,R Johnson,P,303,166,3.29,618,603,100,37,2,...,4135.1,3346,1703,1513,411,190,1497.0,4875,1.17,0.221
2,R Clemens,P,354,184,3.12,709,707,118,46,0,...,4916.2,4185,1885,1707,363,159,1580.0,4672,1.17,0.229
3,S Carlton,P,329,244,3.22,741,709,254,55,2,...,5217.1,4672,2130,1864,414,53,1833.0,4136,1.25,0.24
4,B Blyleven,P,287,250,3.31,692,685,242,60,0,...,4970.0,4632,2029,1830,430,155,1322.0,3701,1.20,0.248

**Dropp** string Values in all columns except the **first and second** to **NAN** values

In [173]:
df.iloc[:, 2:] = df.iloc[:, 2:].apply(pd.to_numeric, errors='coerce')

**Dropping** *run* column since it doesn't correlate to the pitcher's performance. (Runs made by defensive errors and not by the pitcher)

In [174]:
df = df.drop(df.columns[13],axis=1)
df.head()

,Player name,Position,Win,Loss,Earned run Average,Games played,Games Started,Complete Game,Shutout,Save,Save Opportunity,Innings pitched,hit,earned run,home run,Hit Batsmen,base on balls,Strikeouts,WHIP,AVG
0,N Ryan,P,324,292,3.19,807,773,222,61,3,4.0,5386.0,3923,1911,321,158,2795.0,5714,1.25,0.204
1,R Johnson,P,303,166,3.29,618,603,100,37,2,3.0,4135.1,3346,1513,411,190,1497.0,4875,1.17,0.221
2,R Clemens,P,354,184,3.12,709,707,118,46,0,0.0,4916.2,4185,1707,363,159,1580.0,4672,1.17,0.229
3,S Carlton,P,329,244,3.22,741,709,254,55,2,2.0,5217.1,4672,1864,414,53,1833.0,4136,1.25,0.24
4,B Blyleven,P,287,250,3.31,692,685,242,60,0,0.0,4970.0,4632,1830,430,155,1322.0,3701,1.20,0.248

**Rename** columns

In [175]:
df_w = df.rename(columns={
    'Player name':'Pitcher Name',
    'Earned run Average': 'Earned Run Average',
    'Games played' : 'Games Played',
    'Complete Game':'Complete Games',
    'hit':'Hits',
    'earned run':'Earned Runs (ER)',
    'home run':'Home Runs (HR) ',
    'Innings pitched' : 'Innings Pitched (IP)',
    ' Hit Batsmen':'Hit by Pitch (HBP)',
    'base on balls':'Base on Balls (BOB)',
    'Strikeouts':'Strikeouts (SO)',
})
df_w.info()
df_m = df_w.copy()
df_l = df_w.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pitcher Name          2575 non-null   object
 1   Position              2575 non-null   object
 2   Win                   2575 non-null   int64
 3   Loss                  2575 non-null   int64
 4   Earned Run Average    2575 non-null   float64
 5   Games Played          2575 non-null   int64
 6   Games Started         2575 non-null   int64
 7   Complete Games        2575 non-null   int64
 8   Shutout               2575 non-null   int64
 9   Save                  2575 non-null   int64
 10  Save Opportunity      1746 non-null   object
 11  Innings Pitched (IP)  2575 non-null   float64
 12  Hits                  2575 non-null   int64
 13  Earned Runs (ER)      2575 non-null   int64
 14  Home Runs (HR)        2575 non-null   int64
 15  Hit by Pitch (HBP)    2575 non-null   int64
 16  Base on Balls (BOB)   2565 non-null   float64
 17  Strikeouts (SO)       2575 non-null   int64
 18  WHIP                  2575 non-null   float64
 19  AVG                   2565 non-null   object
dtypes: float64(4), int64(12), object(4)
memory usage: 402.5+ KB

# Data Cleaning - Droping NaN

Determine the **count of NaN** (*Not a Number*) values

In [176]:
df_w.isna().sum()

Pitcher Name              0
Position                  0
Win                       0
Loss                      0
Earned Run Average        0
Games Played              0
Games Started             0
Complete Games            0
Shutout                   0
Save                      0
Save Opportunity        829
Innings Pitched (IP)      0
Hits                      0
Earned Runs (ER)          0
Home Runs (HR)            0
Hit by Pitch (HBP)        0
Base on Balls (BOB)      10
Strikeouts (SO)           0
WHIP                      0
AVG                      10
dtype: int64

In [177]:
# Cleaning NAN values
df_w = df_w.dropna(subset=['Save Opportunity'])
df_w = df_w.dropna(subset=['Base on Balls (BOB)'])
df_w = df_w.dropna(subset=['AVG'])
df_w.isna().sum()

Pitcher Name            0
Position                0
Win                     0
Loss                    0
Earned Run Average      0
Games Played            0
Games Started           0
Complete Games          0
Shutout                 0
Save                    0
Save Opportunity        0
Innings Pitched (IP)    0
Hits                    0
Earned Runs (ER)        0
Home Runs (HR)          0
Hit by Pitch (HBP)      0
Base on Balls (BOB)     0
Strikeouts (SO)         0
WHIP                    0
AVG                     0
dtype: int64

In [178]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1746 entries, 0 to 2574
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pitcher Name          1746 non-null   object
 1   Position              1746 non-null   object
 2   Win                   1746 non-null   int64
 3   Loss                  1746 non-null   int64
 4   Earned Run Average    1746 non-null   float64
 5   Games Played          1746 non-null   int64
 6   Games Started         1746 non-null   int64
 7   Complete Games        1746 non-null   int64
 8   Shutout               1746 non-null   int64
 9   Save                  1746 non-null   int64
 10  Save Opportunity      1746 non-null   object
 11  Innings Pitched (IP)  1746 non-null   float64
 12  Hits                  1746 non-null   int64
 13  Earned Runs (ER)      1746 non-null   int64
 14  Home Runs (HR)        1746 non-null   int64
 15  Hit by Pitch (HBP)    1746 non-null   int64
 16  Base on Balls (BOB)   1746 non-null   float64
 17  Strikeouts (SO)       1746 non-null   int64
 18  WHIP                  1746 non-null   float64
 19  AVG                   1746 non-null   object
dtypes: float64(4), int64(12), object(4)
memory usage: 286.5+ KB

# Data Cleaning - Replacing NaN with Mean

Make a copy of **df_w**

In [179]:
df_m.isna().sum()

Pitcher Name              0
Position                  0
Win                       0
Loss                      0
Earned Run Average        0
Games Played              0
Games Started             0
Complete Games            0
Shutout                   0
Save                      0
Save Opportunity        829
Innings Pitched (IP)      0
Hits                      0
Earned Runs (ER)          0
Home Runs (HR)            0
Hit by Pitch (HBP)        0
Base on Balls (BOB)      10
Strikeouts (SO)           0
WHIP                      0
AVG                      10
dtype: int64

In [180]:
# Cleaning Save Oppurtunity with mean
psize_mean = df_m['Save Opportunity'].mean()
print(psize_mean)
df_m['Save Opportunity'] = df_m['Save Opportunity'].fillna(psize_mean)

31.06414662084765

C:\Users\romme\AppData\Local\Temp\ipykernel_7780\2451056367.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_m['Save Opportunity'] = df_m['Save Opportunity'].fillna(psize_mean)

In [181]:
# Cleaning BOB
df_m['Base on Balls (BOB)'] = df_m['Base on Balls (BOB)'].fillna(psize_mean)

In [182]:
# Cleaning AVG
df_m['AVG'] = df_m['AVG'].fillna(psize_mean)

C:\Users\romme\AppData\Local\Temp\ipykernel_7780\269692247.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_m['AVG'] = df_m['AVG'].fillna(psize_mean)

In [183]:
df_m.isna().sum()

Pitcher Name            0
Position                0
Win                     0
Loss                    0
Earned Run Average      0
Games Played            0
Games Started           0
Complete Games          0
Shutout                 0
Save                    0
Save Opportunity        0
Innings Pitched (IP)    0
Hits                    0
Earned Runs (ER)        0
Home Runs (HR)          0
Hit by Pitch (HBP)      0
Base on Balls (BOB)     0
Strikeouts (SO)         0
WHIP                    0
AVG                     0
dtype: int64

# Lambda Function

A **lambda function** in Python is a small, anonymous function defined using the **lambda** keyword. It is also known as an inline function or anonymous function because it doesn't require a formal name (unlike functions defined with def). Lambda functions are typically used for short, simple operations that can be written in a single line.<br><br>
Syntax:<br>
**lambda** arguments: expression<br>

In [184]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def even(n):
    e = []
    for i in n:
        if i%2==0:
            e.append(i)
    return e

even(numbers)

[2, 4, 6, 8, 10]

In [185]:
even = filter(lambda n:n%2==0, numbers)
list(even)

[2, 4, 6, 8, 10]

Use **lambda** function to replace NaN values with mean of each column

In [186]:
df_l.isna().sum()

Pitcher Name              0
Position                  0
Win                       0
Loss                      0
Earned Run Average        0
Games Played              0
Games Started             0
Complete Games            0
Shutout                   0
Save                      0
Save Opportunity        829
Innings Pitched (IP)      0
Hits                      0
Earned Runs (ER)          0
Home Runs (HR)            0
Hit by Pitch (HBP)        0
Base on Balls (BOB)      10
Strikeouts (SO)           0
WHIP                      0
AVG                      10
dtype: int64

In [187]:
n_clumns = ['Save Opportunity','Base on Balls (BOB)','AVG']
df_l[n_clumns] = df_l[n_clumns].apply(lambda n:n.fillna(n.mean()))
df_l.isna().sum()

C:\Users\romme\AppData\Local\Temp\ipykernel_7780\3947704624.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_l[n_clumns] = df_l[n_clumns].apply(lambda n:n.fillna(n.mean()))

Pitcher Name            0
Position                0
Win                     0
Loss                    0
Earned Run Average      0
Games Played            0
Games Started           0
Complete Games          0
Shutout                 0
Save                    0
Save Opportunity        0
Innings Pitched (IP)    0
Hits                    0
Earned Runs (ER)        0
Home Runs (HR)          0
Hit by Pitch (HBP)      0
Base on Balls (BOB)     0
Strikeouts (SO)         0
WHIP                    0
AVG                     0
dtype: int64

In [188]:
df_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pitcher Name          2575 non-null   object
 1   Position              2575 non-null   object
 2   Win                   2575 non-null   int64
 3   Loss                  2575 non-null   int64
 4   Earned Run Average    2575 non-null   float64
 5   Games Played          2575 non-null   int64
 6   Games Started         2575 non-null   int64
 7   Complete Games        2575 non-null   int64
 8   Shutout               2575 non-null   int64
 9   Save                  2575 non-null   int64
 10  Save Opportunity      2575 non-null   float64
 11  Innings Pitched (IP)  2575 non-null   float64
 12  Hits                  2575 non-null   int64
 13  Earned Runs (ER)      2575 non-null   int64
 14  Home Runs (HR)        2575 non-null   int64
 15  Hit by Pitch (HBP)    2575 non-null   int64
 16  Base on Balls (BOB)   2575 non-null   float64
 17  Strikeouts (SO)       2575 non-null   int64
 18  WHIP                  2575 non-null   float64
 19  AVG                   2575 non-null   float64
dtypes: float64(6), int64(12), object(2)
memory usage: 402.5+ KB

# **Saving** the Cleaned Dataset

In [189]:
df_m.to_csv(r"C:\Users\romme\Desktop\MATHEDA Bito-on\ENDTERM PROJECT\cleaned\baseball_pitcher-cleaned.csv",index=False)